{
	"parserOptions": {
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"no-cond-assign": "off",
		"no-empty": ["error", { "allowEmptyCatch": true }],
		"no-extra-parens": ["error", "all", { "nestedBinaryExpressions": false }],
		"no-sparse-arrays": "off",
		"class-methods-use-this": "warn",
		"dot-location": ["error", "property"],
		"dot-notation": "error",
		"eqeqeq": ["error", "smart"],
		"no-caller": "error",
		"no-case-declarations": "off",
		"no-else-return": "warn",
		"no-empty-function": "warn",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-lone-blocks": "error",
		"no-loop-func": "error",
		"no-magic-numbers": "warn",
		"no-multi-spaces": ["error", { "ignoreEOLComments": true }],
		"no-new-func": "error",
		"no-new-wrappers": "error",
		"no-unmodified-loop-condition": "warn",
		"no-useless-concat": "error",
		"no-useless-return": "error",
		"wrap-iife": ["error", "outside"],
		"yoda": ["error", "never", { "exceptRange": true }],
		"no-label-var": "warn",
		"array-bracket-newline": ["error", { "multiline": true }],
		"array-bracket-spacing": ["error", "always", { "singleValue": false, "objectsInArrays": false, "arraysInArrays": false }],
		"block-spacing": ["error", "always"],
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"camelcase": "error",
		"comma-dangle": "error",
		"comma-spacing": "error",
		"comma-style": "error",
		"computed-property-spacing": "error",
		"func-call-spacing": "error",
		"indent": ["error", "tab", { "SwitchCase": 1, "VariableDeclarator": { "var": 2, "let": 2, "const": 3 } }],
		"key-spacing": "error",
		"keyword-spacing": "error",
		"lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
		"new-cap": "error",
		"new-parens": "error",
		"newline-per-chained-call": "warn",
		"no-lonely-if": "error",
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-multiple-empty-lines": "error",
		"no-trailing-spaces": "error",
		"no-unneeded-ternary": "error",
		"no-whitespace-before-property": "error",
		"object-curly-newline": ["error", { "multiline": true }],
		"object-curly-spacing": ["error", "always", { "arraysInObjects": false, "objectsInObjects": false }],
		"operator-assignment": "error",
		"padded-blocks": ["error", { "blocks": "never", "classes": "always", "switches": "never" }],
		"quote-props": ["error", "as-needed"],
		"quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
		"require-jsdoc": ["warn", { "require": { "ClassDeclaration": true, "MethodDefinition": true }}],
		"semi": "error",
		"semi-spacing": "error",
		"semi-style": "error",
		"space-before-blocks": "error",
		"space-before-function-paren": "error",
		"space-in-parens": "error",
		"space-infix-ops": "warn",
		"space-unary-ops": ["error", { "words": true, "nonwords": false }],
		"spaced-comment": ["error", "always", { "exceptions": ["-", "="] }],
		"switch-colon-spacing": "error",
		"arrow-body-style": "error",
		"arrow-parens": ["error", "as-needed"],
		"arrow-spacing": "error",
		"constructor-super": "warn",
		"no-duplicate-imports": "error",
		"no-restricted-imports": ["error", { "paths": [{ "name": "main", "message": "Do not import from the main file, path directly to the module's source." }]}],
		"no-useless-computed-key": "error",
		"no-useless-rename": "error",
		"no-var": "error",
		"object-shorthand": "error",
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"prefer-rest-params": "error",
		"prefer-spread": "error",
		"prefer-template": "error",
		"rest-spread-spacing": "error",
		"template-curly-spacing": "error"
	}
}
